# Dependências Node.js
node_modules/
backend/node_modules/

# Banco de dados SQLite
database/*.db
*.db
*.sqlite

# Logs
*.log

# VS Code
.vscode/

# Arquivos temporários
dist/
build/

# Variáveis de ambiente
.env

frontend/node_modules/
database/